<!-- stock_list.html -->

<table>
  <form method="GET" action="{% url 'stock_list' %}">
    <input type="text" name="search" placeholder="Search...">
    <button type="submit">Search</button>
  </form>
    <thead>
      <tr>
        <th>Date</th>
        <th>Open</th>
        <th>High</th>
        <th>Low</th>
        <th>Close</th>
        <th>Adj Close</th>
        <th>Volume</th>
      </tr>
    </thead>
    <tbody>
      {% for stock in stocks %}
      <tr>
        <td>{{ stock.date }}</td>
        <td>{{ stock.open }}</td>
        <td>{{ stock.high }}</td>
        <td>{{ stock.low }}</td>
        <td>{{ stock.close }}</td>
        <td>{{ stock.adj_close }}</td>
        <td>{{ stock.volume }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  